/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Estilos para el encabezado y la navegación utilizando Flexbox */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Estilos específicos para dispositivos */
/* Punto de corte para tablet */
@media only screen and (max-width: 768px) {
    /* Estilos específicos para tablet */
}

/* Punto de corte para celular */
@media only screen and (max-width: 480px) {
    /* Estilos específicos para celular */
}